html,
body {
  display:flex;
  margin:0;
  padding:0;
  overflow: hidden
}

#three {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}